/** Trebuchet MS is the font for the landing page text**/

* {
    font-family: Trebuchet MS, sans-serif;
}

/** Give text center alignment **/

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0 50px;
    text-align: center;
}

/**Formatting for the Fork in the Road Image**/
.image-container {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    /* set your desired width */
    height: 225px;
    /* set your desired height */
}

/* making sure that button 1 is placed on top of left path on image and stays on the image even if the page size changes */
.button-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #ffff;
    opacity: 0.75;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    /* set button to an absolute position */
    top: 45%;
    /* adjust the top position of the button */
    left: 28%;
    /* adjust the left position of the button */
    transform: translate(-50%, -50%);
    /* center the button */
    z-index: 2;
    /* set a higher z-index than the image */
    cursor: pointer;
    /* change mouse cursor on hover */
}

.button-1:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

/* formatting for when the Yogi Bear image pops up on screen, making sure that the page behind the image is faded */
#imageContainer1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    z-index: 9999;
    /* ensure it's above other content */
}

/* formatting for when the Yogi Bear image pops up on screen, making sure that it is centered on the page */
#imageContent1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

#myImage1 {
    max-width: 100%;
    max-height: 80vh;
    /* adjust as needed */
}
/* formatting for location of Close Button */
#closeBtn1 {
    display: block;
    margin-top: 10px;
}

/* making sure that button 1 is placed on top of right path on image and stays on the image even if the page size changes */
.button-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #ffff;
    opacity: 0.75;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    /* set button to an absolute position */
    top: 45%;
    /* adjust the top position of the button */
    left: 69%;
    /* adjust the left position of the button */
    transform: translate(-50%, -50%);
    /* center the button */
    z-index: 2;
    /* set a higher z-index than the image */
    cursor: pointer;
    /* change mouse cursor on hover */
}

.button-2:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

/* formatting for when the Yogi Berra image pops up on screen, making sure that the page behind the image is faded */

#imageContainer2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    z-index: 9999;
    /* ensure it's above other content */
}

/* formatting for when the Yogi Berra image pops up on screen, making sure that it is centered on the page */

#imageContent2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

#myImage2 {
    max-width: 100%;
    max-height: 80vh;
    /* adjust as needed */
}

/* formatting for location of Close Button */

#closeBtn2 {
    display: block;
    margin-top: 10px;
}